with open("/etc/dashboard/SECRET_KEY") as fin:
    SECRET_KEY = fin.read()
with open("/etc/dashboard/DATABASE_KEY") as fin:
    DATABASE_KEY = fin.read()
with open("/etc/dashboard/AAP_AUTH_PROVIDER_CLIENT_SECRET") as fin:
    AAP_AUTH_PROVIDER_CLIENT_SECRET = fin.read()

ALLOWED_HOSTS=["*"]
CORS_ALLOWED_ORIGINS = [
    "http://localhost:8080",
]
# CORS_ORIGIN_ALLOW_ALL = True

# set for django admin, POST
# CSRF_TRUSTED_ORIGINS = [
#     "http://HOST_IP:8083",
# ]

# Avoid using URL - https URLS with untrusted certificate will not work.
# Use local filesystem instead.
WEASYPRINT_BASEURL = '/code/src/backend/templates'

JWT_ACCESS_TOKEN_LIFETIME_SECONDS = 60
JWT_REFRESH_TOKEN_LIFETIME_SECONDS = 7200

AAP_AUTH_PROVIDER = {
    "name": "{{ aap_auth_provider_name }}",
    "protocol": "{{ aap_auth_provider_protocol }}",
    "url": "{{ __aap_auth_provider_url }}",
    "user_data_endpoint": "{{ __aap_auth_provider_user_data_endpoint }}",
    "check_ssl": "{{ aap_auth_provider_check_ssl }}",
    "client_id": "{{ aap_auth_provider_client_id }}",
    "client_secret": AAP_AUTH_PROVIDER_CLIENT_SECRET,
}

# Initial sync timedelta in days
INITIAL_SYNC_DAYS = {{ initial_sync_days | int }}
# Initial sync date (overrides INITIAL_SYNC_DAYS)
{% if initial_sync_since is defined %}
INITIAL_SYNC_SINCE = "{{ initial_sync_since }}"
{% endif %}

DISPATCHERD_DEBUGGING_SOCKFILE = "/run/dispatcher/automation-dashboard-dispatcher.sock"

BROKER_URL = 'unix:///run/redis/redis.sock'

SHOW_URLLIB3_INSECURE_REQUEST_WARNING = {{ show_urllib3_insecure_request_warning | default(True) }}
# django DEBUG=0
DEBUG = {{ django_debug | default(False) }}
