#!/usr/bin/env bash
#if [ `id -u` -ge 500 ]; then
#    echo "awx:x:`id -u`:`id -g`:,,,:/var/lib/awx:/bin/bash" >> /tmp/passwd
#    cat /tmp/passwd > /etc/passwd
#    rm /tmp/passwd
#fi

/code/src/backend/wait-for-migrations-dashboard.sh

# exec supervisord -c /etc/supervisord_task.conf
exec /venv/bin/python manage.py run_dispatcher
