# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
!lib/ansible/
lib/**
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# gitlab CI package cache
.pipcache/

**/node_modules
dist
stats.json
coverage
storybook-static
.DS_Store
.idea
*~
.env
.history

.env
.venv
clusters.yaml
.coverage
aap_access.json

# Local settings
local_settings.py

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# i18n
*.mo
.i18n_built