Django==5.2.16
PyJWT==2.13.0
dispatcherd[pg_notify]==2026.1.27
django-ansible-base==2025.10.20
django-cors-headers==4.9.0
django-filter==26.1
django-generate-series==2026.2.1
django-guid==3.6.1
django-weasyprint==2.5.0
djangorestframework==3.17.1
drf-spectacular==0.30.0
gunicorn==26.0.0
prometheus_client==0.26.0
psycopg==3.3.4
pydantic==2.13.4
python-dateutil==2.9.0.post0
redis==7.4.1
requests==2.34.2
setuptools>=83.0.0
supervisor==4.3.0
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.52.1
wheel==0.47.0

# Deployment dependencies
dumb-init==1.2.5.post1
