DATABASES = {
   'default': {
       # 'ATOMIC_REQUESTS': True,
       # 'ENGINE': 'awx.main.db.profiled_pg',
       'ENGINE': 'django.db.backends.postgresql_psycopg2',
       'NAME': '{{ dashboard_pg_database }}',
       'USER': '{{ dashboard_pg_username }}',
       'PASSWORD': """{{ dashboard_pg_password }}""",
       'HOST': '{{ dashboard_pg_socket | default(dashboard_pg_host) }}',
       'PORT': '{{ dashboard_pg_port }}',
       'OPTIONS': { 'sslmode': '{{ dashboard_pg_sslmode }}',
                    'sslrootcert': '{{ ca_trust_bundle }}',
       },
   }
}
