DATABASES = {
   'default': {
       # 'ATOMIC_REQUESTS': True,
       # 'ENGINE': 'awx.main.db.profiled_pg',
       'ENGINE': 'django.db.backends.postgresql_psycopg2',
       'NAME': '{{ reporter_pg_database }}',
       'USER': '{{ reporter_pg_username }}',
       'PASSWORD': """{{ reporter_pg_password }}""",
       'HOST': '{{ reporter_pg_socket | default(reporter_pg_host) }}',
       'PORT': '{{ reporter_pg_port }}',
       'OPTIONS': { 'sslmode': '{{ reporter_pg_sslmode }}',
                    'sslrootcert': '{{ ca_trust_bundle }}',
       },
   }
}
