[uwsgi]
socket = 127.0.0.1:{{ dashboard_uwsgi_port }}
processes = {{ dashboard_uwsgi_processes }}
vacuum = true
no-orphans = true
master = true
lazy-apps = true
max-requests = 1000
buffer-size = 32768
harakiri = 120
master-fifo = /var/lib/awx/dashboardfifo

if-env = UWSGI_MOUNT_PATH
mount = %(_)=backend.django_config.wsgi:application
endif =

if-not-env = UWSGI_MOUNT_PATH
mount = /=backend.django_config.wsgi:application
endif =
