[uwsgi]
socket = 127.0.0.1:{{ reporter_uwsgi_port }}
processes = {{ reporter_uwsgi_processes }}
vacuum = true
no-orphans = true
master = true
lazy-apps = true
max-requests = 1000
buffer-size = 32768
harakiri = 120
master-fifo = /var/lib/awx/awxfifo

if-env = UWSGI_MOUNT_PATH
mount = %(_)=awx.wsgi:application
endif =

if-not-env = UWSGI_MOUNT_PATH
mount = /=awx.wsgi:application
endif =
