:where(:root) {
  --pf-v6-global--BackgroundColor--dark-100: #151515;
  --pf-v6-c-page__main-section--BackgroundColor: #f2f2f2;
}

html,
body,
#app {
  height: 100%;
}

#app {
  overflow: hidden;
}

.pf-v6-c-page {
  background: var(--pf-t--global--background--color--secondary--default);
}
.pf-v6-c-page__main {
  // overflow: hidden;
  overflow-x: hidden;
  padding: 0;
}

.pf-v6-c-page__main-container {
  border: none;
  margin: 0;
  border-radius: 0;
}

.pf-v6-c-content {
  --pf-v6-c-content--small--Color: var(
    --pf-t--global--color--status--danger--default
  ); /* changes all <small> color to the semantic token for danger */
  --pf-v6-c-content--blockquote--BorderLeftColor: var(
    --pf-t--global--color--nonstatus--purple--default
  ); /* changes all <blockquote> left border color to the semantic token for non-status (purple) */
  --pf-v6-c-content--hr--BackgroundColor: var(
    --pf-t--global--color--nonstatus--yellow--default
  ); /* changes a <hr> color to the semantic token for non-status (yellow) */
}

.pf-v6-c-masthead {
  --pf-v6-c-masthead--BackgroundColor: var(--pf-v6-global--BackgroundColor--dark-100);
  padding-top: 0;
  padding-bottom: 0;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.267);
  position: sticky;
  width: 100vw;
}

.pf-v6-c-masthead__main {
  display: flex;
  align-self: stretch;
  align-items: center;
}

.pf-v6-c-masthead__brand {
  align-self: center;
  display: inline-flex;
  border: none;
}

.main-layout {
  background: var(--pf-t--global--background--color--secondary--default);
  width: 100vw;
  overflow: auto;
  padding: 24px;
}

.pf-v6-c-menu {
  margin-top: 3px;
}
.pf-v6-c-menu__content {
  max-height: 300px;
  overflow: auto;
}

.pf-v6-l-grid.pf-m-gutter {
  grid-gap: 24px;
}

.grid-gap {
  display: grid;
  grid-gap: 24px;
}

.fw-500 {
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input {
  &:focus-visible {
    outline: none;
  }
}

.loader,
.error {
  background: var(--pf-t--global--background--color--secondary--default);
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(100vh - 70px);
  width: 100%;
  z-index: 1500;
  opacity: 0.6;
  display: flex;
  .spinner {
    margin: 350px auto auto auto;
  }
}

.error {
  opacity: 1;
  .pf-v6-c-empty-state {
    margin: 350px auto auto auto;
  }
}

.pf-v6-c-date-picker {
  &.default {
    input {
      background: var(--pf-v6-c-form-control--m-disabled--BackgroundColor);
    }
  }
}

.pf-v6-c-menu-toggle__text {
  width: 100%;
  text-align: left;
}

#currency-options-menu {
  min-width: 200px;
}
#currency-options-menu-toggle {
  min-width: 200px;
  background: transparent;
}

#views-options-menu-toggle {
  background: transparent;
  margin-right: 16px;
}
