.filters-wrap {
  @media (max-width: 1300px) {
    .pf-v6-c-menu-toggle {
      width: 250px !important;
    }
    .range-selector .pf-v6-c-menu-toggle {
      width: 192px !important;
    }
  }
}

.pf-v6-c-date-picker__input {
  input {
    min-width: 135px;
  }
}

.save-as-report {
  .pf-v6-c-menu-toggle {
    --pf-v6-c-menu-toggle--BorderColor: var(--pf-t--color--gray--30);
    .pf-v6-c-menu-toggle__button {
      border-inline-start: 1px solid var(--pf-t--color--gray--30);
    }
  }
}
