.pf-v6-c-table tr:where(.pf-v6-c-table__tr) > :where(th, td) {
  --pf-v6-c-table--cell--PaddingBlockStart: 8px;
  --pf-v6-c-table--cell--PaddingBlockEnd: 8px;
  --pf-v6-c-table--cell--PaddingInlineStart: 16px;
  --pf-v6-c-table--cell--PaddingInlineEnd: 16px;
  --pf-v6-c-table--cell--first-last-child--PaddingInline: 16px;
  --pf-v6-c-table__sort-indicator--MarginInlineStart: 0.2rem;
  --pf-v6-c-table--cell--WhiteSpace: normal;
  &.input-td {
    width: 300px;
  }
}

.pf-v6-c-table__th.numerical,
.pf-v6-c-table__td.numerical,
.pf-v6-c-table__th.numerical .pf-v6-c-table__text,
.pf-v6-c-table__td.numerical .pf-v6-c-table__text {
  text-align: right;
}

.pf-v6-c-table__tr{
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background: var(--pf-t--global--background--color--secondary--default);
  }
}

.pf-v6-c-table__td {
  vertical-align: middle;
  .has-error {
    margin-top: -24px;
  }
}

.pf-v6-c-pagination .pf-v6-c-pagination__page-menu,
.pf-v6-c-table__td {
  &:focus-visible {
    outline: none;
  }
}

.table-loader {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--pf-t--color--white);
  opacity: 0.5;
  display: flex;

  .spinner {
    margin: auto;
  }
}

.base-table {
  min-width: 1800px;
  &.less {
    min-width: 1500px;
  }
}

.top-table .numerical {
  padding-left: 0 !important;
  width: 122px !important;
}

@media screen and (max-width: calc(-1px + 48rem)) {
  .pf-v6-c-table tr:where(.pf-v6-c-table__tr) > :where(th, td) {
    &.input-td {
      width: 100%;
    }
  }

  .pf-v6-c-table__th.numerical,
  .pf-v6-c-table__td.numerical {
    text-align: left;
  }

  .base-table {
    min-width: unset;
  }

  .top-table .numerical {
    width: 100% !important;
  }
}
