.pf-v6-c-table {
  .pf-v6-c-table__thead {
    .pf-v6-c-table__tr {
      .pf-v6-c-table__th {
        padding: 8px 16px;
        white-space: normal;

        &.numerical {
          text-align: right;
          .pf-v6-c-table__text {
            text-align: right;
          }
          button {
            padding: 0;
          }
        }

        &.min-180 {
          min-width: 180px;
        }
      }

      .pf-v6-c-table__text {
        white-space: normal;
      }
    }
  }

  .pf-v6-c-table__tbody {
    .pf-v6-c-table__tr {
      &:last-child {
        border-bottom: none;
      }

      .pf-v6-c-table__td {
        padding: 8px 16px;
        vertical-align: middle;

        &:focus-visible {
          outline: none;
        }

        &.numerical {
          text-align: right;
        }

        .pf-v6-c-helper-text {
          padding-top: 6px;
          justify-content: end;
        }

        .has-error {
          margin-top: -24px;
        }
      }

      &:hover {
        background: var(--pf-t--global--background--color--secondary--default);
      }
    }
  }
}

.simple-table-card {
  height: inherit;

  .pf-v6-c-card__body {
    h2 {
      padding-bottom: 14px;
    }

    padding: 20px;
  }
}

.dashboard-table {
  border: 1px solid #c7c7c7;

  .details-row {
    gap: 24px 90px;

    .cards-gap {
      gap: 24px 100px;
    }
  }

  &:before {
    border: none;
  }
}

.table-loader {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.5;
  display: flex;

  .spinner {
    margin: auto;
  }
}

.pf-v6-c-pagination {
  .pf-v6-c-pagination__page-menu {
    &:focus-visible {
      outline: none;
    }
  }
}

.base-table {
  min-width: 1800px;
}

.pf-v6-c-table__sort-indicator {
  margin-inline-start: 0.2rem;
}

@media screen and (max-width: calc(-1px + 48rem)) {
  .base-table {
    min-width: unset;
  }

  .pf-v6-c-table {
    .pf-v6-c-table__thead {
      .pf-v6-c-table__tr {
        .pf-v6-c-table__th {
          &.numerical {
            text-align: left;
          }

          &.min-180 {
            min-width: auto;
          }
        }
      }
    }

    .pf-v6-c-table__tbody {
      .pf-v6-c-table__tr {
        .pf-v6-c-table__td {
          &.numerical {
            text-align: left;
          }
        }
      }
    }
  }
}
