inventory
aap_install.log
clusters.example.yaml

!bundle/
bundle/*
!bundle/.gitkeep

!collections/
collections/*
!collections/ansible_collections/
collections/ansible_collections/*
!collections/ansible_collections/ansible/
collections/ansible_collections/ansible/*
!collections/ansible_collections/ansible/containerized_installer/

