[automationreporter]
aap24_reports.novalocal ansible_connection=local
[automationreporter:vars]
# force clean install-like
# reporter_update_secret=true
# TEMP
# nginx_disable_https=true
# nginx_http_port=8083
# nginx_https_port=8447

[database]
aap24_reports.novalocal ansible_connection=local

[all:vars]
postgresql_admin_username=postgres
postgresql_admin_password=TODO
# registry_username=
# registry_password=

# AAP Reporter - mandatory
# --------------------------
reporter_pg_containerized=True
reporter_admin_password=TODO
reporter_pg_host=aap24_reports.novalocal
reporter_pg_username=aapreporter
reporter_pg_password=TODO
reporter_pg_database=aapreports
#
# test bundle
# ansible-playbook -i inventory ansible.containerized_installer.reporter_bundle # to generate ./bundle
bundle_install=true
# <full path to the bundle directory>
bundle_dir=/home/ec2-user/ansible-automation-reports-containerized-setup/bundle
#
# AAP Reporter - extra variables needed when installing next to non-containerized AAP
# --------------------------
# postgresql_admin_username={{ pg_username }}
# postgresql_admin_password={{ pg_password }}
# controller_admin_password=dummy
# controller_pg_host=dummy
# controller_pg_password=dummy
# hub_admin_password=dummy
# hub_pg_host=dummy
# hub_pg_password=dummy
