[automationdashboard]
aap24_dashboard.novalocal ansible_connection=local

[automationdashboard:vars]
# Configure AAP OAuth2 authentication.
# aap_auth_provider_name - name as shown on the login page.
aap_auth_provider_name=AnsibleAutomationPlatform
# aap_auth_provider_protocol - http or https
aap_auth_provider_protocol=https
# aap_auth_provider_url - AAP IP or DNS name, with optional port
#   AAP 2.4 (controller API): my-aap.example.com:8443/api
#   AAP 2.5 (gateway API): my-aap.example.com
aap_auth_provider_url=my-aap.example.com:8443/api
# aap_auth_provider_user_data_endpoint depends on AAP version:
#   AAP 2.4 (controller API): /v2/me/
#   AAP 2.5 (gateway API): /api/gateway/v1/me/
aap_auth_provider_user_data_endpoint=/v2/me/
# aap_auth_provider_check_ssl - enforce TLS check or not.
aap_auth_provider_check_ssl=true
# aap_auth_provider_client_id and aap_auth_provider_client_secret -
# they are obtained from AAP when OAuth2 application is created in AAP.
aap_auth_provider_client_id=TODO
aap_auth_provider_client_secret=TODO

# Specify amount of old data to synchronoize after installation.
# The initial_sync_days=N requests N days of old data, counting from "today".
# The initial_sync_since requests data from the specified data until "today".
# If both are specified, the initial_sync_since will be used.
initial_sync_days=1
# initial_sync_since=2025-08-08

# Hide warnings when insecure https request are made.
# Use this if your AAP uses self-signed TLS certificate.
# show_urllib3_insecure_request_warning=False

# Force clean install-like
# dashboard_update_secret=true
# HTTP/HTTPS settings
# nginx_disable_https=true
# nginx_http_port=8083
# nginx_https_port=8447
# Enable Django DEBUG.
# django_debug=True

[database]
aap24_dashboard.novalocal ansible_connection=local

[all:vars]
postgresql_admin_username=postgres
postgresql_admin_password=TODO
# registry_username=
# registry_password=

# AAP Dashboard - mandatory
# --------------------------
dashboard_pg_containerized=True
dashboard_admin_password=TODO
dashboard_pg_host=aap24_dashboard.novalocal
dashboard_pg_username=aapdashboard
dashboard_pg_password=TODO
dashboard_pg_database=aapdashboard
#
bundle_install=true
# <full path to the bundle directory>
bundle_dir=/home/ec2-user/ansible-automation-dashboard-containerized-setup/bundle
#
# AAP Dashboard - extra variables needed when installing next to non-containerized AAP
# --------------------------
# postgresql_admin_username={{ pg_username }}
# postgresql_admin_password={{ pg_password }}
# controller_admin_password=dummy
# controller_pg_host=dummy
# controller_pg_password=dummy
# hub_admin_password=dummy
# hub_pg_host=dummy
# hub_pg_password=dummy
